$color-primary: #5bc0eb;
$color-secondary: #191919;

$text-main-color: #262426;
$text-secondary-color: #fefefe;
$link-color: #5B595B;

$font-family: 'Merienda', cursive;
$font-family--h: 'Merienda', cursive;

$font-size: 1rem;
$font-size--h1: 3rem;
$font-size--h2: 2rem;
$font-size--h3: 1.5rem;

$line-height: 1.5;

$btn-bg: #55ec42;
$btn-bg--dark: darken($btn-bg, 10%);

$bg-first: #00b6b4;
$bg-second: #d63230;

$screen-xs: 0;
$screen-sm: 20em;
$screen-md: 40em;
$screen-lg: 64em;
$screen-xl: 75em;
